* {
  font-family: "Fira Sans", sans-serif;
}

#root-wrapper {
  display: none;
}

#root {
  background: black;
  color: white;
  padding: 2rem;
}
.copy-btn {
  top: 1rem;
  right: 2rem;
  z-index: 999;
}

.user-title {
  font-size: 12px;
  margin-top: 5px;
}

.copyright {
  font-size: 14px;
  margin-top: 5px;
}

.main-border {
  border-bottom: 1px solid #fcba28;
}
.footer-border {
  border-top: 1px solid #fcba28;
}

#my-div {
  font-size: 18px;
}

.selectBox {
  flex: 0.1 !important;
}

body {
  background: #2b2b2b !important;
}

.method-list li {
  color: #b8b8b8;
  list-style: none;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.method-list li:hover {
  color: #ff6c37;
}

label {
  color: white;
}

.text-area {
  min-height: 15rem !important;
}
